//- script(type="text/javascript" src="http://dev.edorble.com/js/coherent.js")

#navBar.w-clearfix.navbarcontainer
  .nav-menu
    a.w-inline-block.inline-download-link.noborder(href='pricing.html')
      div Pricing
    //- a.w-inline-block.inline-download-link.noborder(href='dashboard/login.html')
      #navbar-login Login
    //- a#inlineDownload.w-inline-block.inline-download-link(href='#')
      div Download
    a.w-inline-block.navlinks(href='http://support.edorble.com')
      img.navlinks-image(width='25', src='assets/images/500px-Question_mark_white-transparent.svg.png')
    a.w-inline-block.navlinks(href='http://facebook.com/edorble')
      img.navlinks-image(width='25', src='assets/images/Facebook.svg')
    a.w-inline-block.navlinks(href='http://twitter.com/edorble')
      img.navlinks-image(width='25', src='assets/images/Twitter.svg')
    a.w-inline-block.navlinks(href='#MAIL', mailbutton='1')
      img.navlinks-image(width='25', src='assets/images/Email.svg')
    //- a#download2.download-link(href='#') Download
  .brand
    a.w-inline-block(href='index.html')
      img#logo.brand-logo(width='175', src='assets/images/Edorble-TextOnly-White.png')
      img.logo-icon(width='66', src='assets/images/Edorble-LogoOnly.png', data-ix='new-interaction')
      .beta Beta
.videocontainer
  #bgVideo.bgvideo
    .video-overlay
    #bgVideoHolder.bg-video-holder.hidevideo
#mainslide1.w-section.hero-content.video-overlay-version.slide1
  div
    h1.hero Your 3D World Awaits.
    a.w-inline-block.button.hero-button(href='#')
      img.play-button(width='30', src='assets/images/Play%20button.png')
      .button-text How it works
.w-section.patchersection
  .w-container.loadingbar
    .w-row.patchercolumn
      .w-col.w-col-11.w-col-medium-6.w-col-small-6.w-col-tiny-6.patchercolumn-1
        #progressbartextfield.progressbar-text(data-ix='loading-fade-loop') {{progressBarTextField}}
        .progress-bar-container
          .progressbar-fill
      .w-col.w-col-1.w-col-medium-6.w-col-small-6.w-col-tiny-6
        a.w-button.patcher-play-button(href='#') Go!
//- script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
//- script(type='text/javascript', src='js/webflow.js')
//if lte IE 9
  script(src='https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js')
