

/*html,body,div,table,tr,td {  -webkit-user-select: none; user-select: none; }*/

body#InfoPanel { margin:0px; /*display:none;*/}
	
.bigText { font-size: 20pt; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.bodyInfoPanel{ background-color: rgba(0, 0, 0, 0.3); }

table { border-collapse:collapse;  background-color: rgba(200, 200, 200, 0.4); height:100%;}
table#links  td { width:70px; height:70px;}
table#WebAddressBar  td { width:70px; height:70px;}
table#Info  { background-color: inherit; } 

@font-face {
		font-family: "opensans";
		src: url("../fonts/OpenSans-Regular-webfont.woff") format('woff');
}

.openSansRegular {
		font-family: opensans;
		font-size:40pt;
}

html,body,div,table,tr,td {  font-family: 'opensans', Verdana; }

.iconAdd {
    background-image: url("../i/Add_Dragging_Icon.png");    
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconLink {
    background-image: url("../i/Link_Icon.png");    
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconVideo {
    background-image: url("../i/Video_Icon.png");    
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconPicture{
    background-image: url("../i/Picture_Icon.png");    
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconAssessment{
    background-image: url("../i/Assessment_Icon.png");    
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconAudio{
    background-image: url("../i/Audio_Icon.png");    
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconPresentation {
    background-image: url("../i/Presentation_Icon.png");    
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconExitWebcast {
    background-image: url("../i/ExitWebcast_Icon.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconForward {
    background-image: url("../i/Forward_Browser.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconBack {
    background-image: url("../i/Back_Browser.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconDrag {
    background-image: url("../i/DragDrop_Icon.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconReload {
    background-image: url("../i/LoadPage_Browser.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.iconPlay {
    background-image: url("../i/Play_Icon.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
}


.myTitle{  font-size: 20pt; width:90px; height:90px; }
.divIcon {
position: absolute;
width: 230px;
height: 450px;
z-index: -1; 
opacity: 0.2;
background-size: 420px 420px !important;
left: -50px;
top: -50px;
}
.myIcon { 
	background-image: url("../i/Link_Icon.png"); 	
	background-size: 400px 400px; 
	background-repeat: no-repeat;	
}
.myDescription { 
	width:200px; height:100%;
	vertical-align: text-top;
}
